<% provide(:title, "About") %>
<h1>About</h1>
<p>
Soft materials pose unique challenges in condensed matter physics. They are dubbed “soft” because their structure is typically exquisitely sensitive to temperature, composition, external stimuli or other associated variables. This sensitivity arises from the competition among different interactions or between interactions and entropy. They are sometimes ordered but most of the time disordered.
</p>
<p>
Theorists in this group employ cutting-edge theoretical and computer simulation tools derived from statistical physics, field theory, and machine learning. These tools are used to study mesoscopic and sometimes self-assembled structures in polymers, biomolecular systems, liquid crystals, and colloids, with applications to problems such as understanding DNA confinement, membrane-protein interaction and emergent material design. Experimentalists in this group explore the structure and dynamics of thin polymer films to understand the glass transition using a wide range of experimental techniques, including ellipsometry, photon correlation spectroscopy, dielectric relaxation and inelastic neutron scattering.	
</p>
